<%name = logged_in? ? current_user.username : 'meeseex'%>
<fieldset>
  <%= form_for [@article,@comment] do |f|%>
    <!--div class="field">
      <%#=f.label :user, "Name:" %>
      <%#=f.text_field :user , placeholder: name%>
    </div-->
    <% if @comment.errors.any? %>
      <%=render 'shared/error_explanation', object:form.object%>
    <% end %>
    <div class="field">
      <%=f.label :body, "Your comment" %> <br>
      <%=f.text_area :body, placeholder: 'Tell me something I don\'t already know'%>
    </div>
    <%= f.submit 'comment', class:'mainbtn' %>
  <%end%>
</fieldset>
