
<header class=" Aheader">
  <%# if article.image.exists? %>
    <%#= image_tag article.image.url(:medium) %><br>
  <%# #end%>
  <h3 class='title'><%=article.title.capitalize%></h3>
  <ul class="tags">
    <% article.tags.each do |tag|%>
      <%= link_to tag_path(tag) do %>
        <li class='tag'><%=tag.name %></li>
      <%end%>
    <%end%>
  </ul>
</header>

<section class=" Abody">
  <p><%=article.text %></p>
</section>

<footer class="  Afooter">
  <!--share article links-->
  <!--only show for admins-->
  <%=link_to ' delete', article, method: :delete, data:{confirm:'Are you sure?'}, class:'btn'%>
  <%= link_to ' edit', edit_article_path(article.id), class:'btn'%>
</footer>
