<fieldset >
  <legend>New Article:</legend>
  <%= form_for(@article, html: {multipart: true}) do |form| %>
    <div class="field">
      <%= form.label  :title, 'Title:'%>
      <%= form.text_field :title %>
    </div>
    <div class="field">
      <%= form.label  :tag_list, 'Tags:'%>
      <%=form.text_field :tag_list %>
    </div>
    <div class="field">
      <%= form.label  :text, 'Body:'%>
      <%= form.text_area :text %>
    </div>

    <div class="field">
      <%# if @article.image.exists? %>
        <%#= image_tag @article.image.url(:thumb) %><br>
      <%# end%>
      <%#= form.label :image , "Attach a new image" %>
      <%#= form.file_field :image%>
    </div>

    <%= form.submit 'create',class:'mainbtn'%>
  <% end %>
</fieldset>
