<fieldset >
  <legend>Article:</legend>
<%= form_for(@article, html: {multipart: true}) do |form| %>
  <p>
    <span class="title">Title:</span>
    <%= form.text_field :title %>
  </p>
  <p>
    <span class="title">Tag list:</span>
    <%=form.text_field :tag_list %>
  </p>
  <p>
    <span class="title">Content:</span>
    <%= form.text_area :text %>
  </p>
  <p>
    <% if @article.image.exists? %>
      <%= image_tag @article.image.url(:thumb) %><br>
    <% end%>
    <%= form.label :image , "Attach a new image" %>
    <%= form.file_field :image%>
  </p>
  <p>
    <%= form.submit  class:"button"%>
  </p>
  <% end %>
  <%= link_to 'back to Articles', articles_path %>
</fieldset>
