<div id="user_popup">

  <div class="popup_commands">
    <div id="popup-close" onclick="close_popup()">
        Close
    </div>
    <%if logged_in?%>
    <%=link_to(logout_path) do%>
      <div id="popup-save">
        logout
      </div>
    <%end%>
    <%else%>
      <%=link_to(login_path, remote:true) do%>
        <div id="popup-save">
          login
        </div>
      <%end%>
    <%end%>
  </div>
  <section id='user_info'>
    <%= render 'form', user: @user %>
    <footer>
      <%=link_to 'login with facebook', auth_at_provider_path(provider: :facebook) %>
      <%=link_to 'login with github', auth_at_provider_path(provider: :github) %>
    </footer>
  </section>
</div>
