<header id='user_header'>
  <h1><%=user.username.titleize%></h1>
  <a href='<%=user_path(user)%>'>
    <%=image_tag '/images/mr_meeseeks_face', alt:'default user photo', size:'100x100', class:'main'%>
  </a>
  <%if current_user.admin? %>
    <p><%=+user.email %></p>
  <%end%>
  <p>Member for <%=time_ago_in_words(user.created_at)%></p>
  <a href='<%=logout_path%>' class="right btn">logout?</a>
</header>
<section id="inbox">
  <%if current_user==@user%>
    <div class="messages">
      <%=render user.all_messages%>
    </div>
  <%end%>
</section>
