<%provide(:title, 'Blog')%>
<header >
<h1>Articles tagged with <span class'tag title'><%= @tag.name%></span> </h1>
</header>
<section id="articles">
  <% @tag.articles.each do |article| %>
    <%= link_to (article_path(article)) do%>
      <article class="Article preview">
        <%=render article %>
      </article>
    <%end%>
  <% end%>
</section>
<footer>
  <span class="mainbtn"><%= link_to 'Add Article', new_article_path%></span>
  <%= link_to '<<back to Articles', articles_path%>
</footer>
