<!DOCTYPE html>
<html>
  <head>
    <title><%=full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="appHeader" class=" static">
      <div id="menu">
      </div>
      <span id="login">
        <span class='mobileOnly'><%='Hi '+ (current_user||'stranger')+', '%></span> <!--name of user-->
        <% if logged_in? %>
        <%= link_to "logout", logout_path%>
        <%else%>
        <%=link_to "login", login_path%>
        <%end%>
      </span>
      <ul id="nav">
        <li><%= link_to "Portfolio",  '#', class:active_class(yield(:title),'Portfolio')%></li>
        <li><%= link_to "Blog", articles_path, class:active_class(yield(:title),'Blog')%></li>
        <li><%= link_to "About", welcome_index_path, class:active_class(yield(:title),'About')%></li>
      </ul>
    </header>
    <p class ="flash" data-flash=''><%=flash.notice %></p>
    <div id="content" class="standalone">
      <%= yield %>
    </div>
    <footer id="footer">
      <hr>
      <!--enter web pressence/ copyrights / etc-->
    </footer>
  </body>
</html>
