<!DOCTYPE html>
<html>
  <head>
    <title>First</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul id="nav">
          <li><%= link_to "BOOKS", books_index_path%></li>
          <li><%= link_to "ARTICLES", articles_path%></li>
          <li><%= link_to "Tags", tags_path%></li>
          <li><%= link_to "ME", welcome_index_path%></li>
    </ul>
    <p class ="flash"><%=flash.notice %></p>
    <div id="content">
      <%= yield %>
    </div>
    <hr>
    <h6 id="footer">
      <% if logged_in? %>
        <%= "logged in as #{current_user.username} "%>
        <%= link_to "(logout)", logout_path%>
      <%else%>
        <%=link_to "(login)", login_path%>
      <%end%>
    </h6>
  </body>
</html>
