<!DOCTYPE html>
<html>
  <head>
    <title>First</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="appHeader">
      <span id="login">
        <span class='mobileOnly'><%='Hi '+ (current_user||'stranger')+', '%></span> <!--name of user-->
        <% if logged_in? %>
        <%= link_to "logout", logout_path%>
        <%else%>
        <%=link_to "login", login_path%>
        <%end%>
      </span>
      <ul id="nav">
        <li><%= link_to "Tags", tags_path%></li>
        <li><%= link_to "Blog", articles_path%></li>
        <li><%= link_to "About", welcome_index_path%></li>
      </ul>
    </header>
    <p class ="flash"><%=flash.notice %></p>
    <div id="content">
      <%= yield %>
    </div>
    <hr>
    <footer id="footer">
      <!--enter web pressence/ copyrights / etc-->
    </footer>
  </body>
</html>
