<!DOCTYPE html>
<html>
  <head>
    <title><%=full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="appHeader" class=" static">
      <span id="login">
        <span class='mobileOnly'><%='Hi '+ (current_user||'stranger')+', '%></span> <!--name of user-->
        <% if logged_in? %>
        <%= link_to "logout", logout_path%>
        <%else%>
        <%=link_to "login", login_path%>
        <%end%>
      </span>
      <ul id="nav">
        <li class='<%=active_class(yield(:title),'Portfolio')%>'><%= link_to "Portfolio",  '#'%></li>
        <li class='<%=active_class(yield(:title),'Blog')%>'><%= link_to "Blog", articles_path%></li>
        <li class='<%=active_class(yield(:title),'About')%>'><%= link_to "About", welcome_index_path%></li>
      </ul>
    </header>
    <p class ="flash" data-flash=''><%=flash.notice %></p>
    <div id="content" class="standalone">
      <%= yield %>
    </div>
    <footer id="footer">
      <hr>
      <!--enter web pressence/ copyrights / etc-->
    </footer>
  </body>
</html>
